<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>A C Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No-8, 3Rd Main Road, United India Nagar, Ayanavaram, Chennai-600023</td>
      <td>600023</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6</td>
      <td>A.G. Eye Care Hospitals (U Nit Of Dr. A.G. Eye Hospitals Private Limited</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No. 106, R.K. Mutt Road. Mylapore, Chennai, Tamilnadu</td>
      <td>600004</td>
    </tr>
    <tr>
      <th>16</th>
      <td>15</td>
      <td>A.N.N Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>81-85,Annai Therasa Street,Valasaravakkam</td>
      <td>600087</td>
    </tr>
    <tr>
      <th>21</th>
      <td>20</td>
      <td>A.V. Hospitals</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 172, Solaiappan Street, Tondirepet (North Chennai) Near Maharani Theatre</td>
      <td>600021</td>
    </tr>
    <tr>
      <th>34</th>
      <td>33</td>
      <td>Aakash Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 393/1, T.H. Road, (Annexe) 393/1, Tiruvottiyur.Tiruvallur</td>
      <td>600019</td>
    </tr>
    <tr>
      <th>69</th>
      <td>68</td>
      <td>Abhijay Hospital (P) Ltd.</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.22/2, E.S.I Hospital Road,Peravallur,</td>
      <td>600011</td>
    </tr>
    <tr>
      <th>117</th>
      <td>116</td>
      <td>Aditya Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.7, Barnbay Road, Kilpauk, Chennai-600010</td>
      <td>600010</td>
    </tr>
    <tr>
      <th>133</th>
      <td>132</td>
      <td>Adyar P.M. Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 58, L.B. Road, Adyar, Chennai-600020Chennai</td>
      <td>600020</td>
    </tr>
    <tr>
      <th>140</th>
      <td>139</td>
      <td>Agash Nursing Home</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#234, G.S.T. Road, Chromepet</td>
      <td>600044</td>
    </tr>
    <tr>
      <th>170</th>
      <td>169</td>
      <td>Ak Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>360 Poonamallee High Road,Junction Of Ph Rd &amp;</td>
      <td>600029</td>
    </tr>
    <tr>
      <th>241</th>
      <td>240</td>
      <td>Amma Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 1, Sowrastra Nagar7Th Street, Chennai</td>
      <td>600094</td>
    </tr>
    <tr>
      <th>243</th>
      <td>242</td>
      <td>Ammayi Eye Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>New # 80, 7Th Avenue, Ashoknagar, Chennai-600083</td>
      <td>600083</td>
    </tr>
    <tr>
      <th>247</th>
      <td>246</td>
      <td>Amrit Medicare Pvt Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.310,Mint Street,Near Sowcarpet, Chennai-600079</td>
      <td>600079</td>
    </tr>
    <tr>
      <th>266</th>
      <td>265</td>
      <td>Anand Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>201, Kamaraj Salai,Manali,Chennaimanali</td>
      <td>600068</td>
    </tr>
    <tr>
      <th>300</th>
      <td>299</td>
      <td>Andhra Mahila Sabha</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.11 &amp; 12, Dr.Durgabaideshmukh Road, R.A.Puram,</td>
      <td>600028</td>
    </tr>
    <tr>
      <th>321</th>
      <td>320</td>
      <td>Annamalai Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 27, Govindan Raod, West Mambalam, Near Srinivasa Theatre</td>
      <td>600033</td>
    </tr>
    <tr>
      <th>377</th>
      <td>376</td>
      <td>Apollo First Med Hospitals</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No 154, Poonamallee High Road, Near Neyveli House, Kilpauk, Chennai - 6000No 154, Poonamallee High Road, Near Neyveli House, Kilpauk, Chennai - 6000</td>
      <td>600010</td>
    </tr>
    <tr>
      <th>380</th>
      <td>379</td>
      <td>Apollo Hospital ( T.H.Road-Chennai)</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#645, T.H.Road, Tondiarpet</td>
      <td>600081</td>
    </tr>
    <tr>
      <th>388</th>
      <td>387</td>
      <td>Apollo Hospitals (Greams Road-Chennai)</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#21, Greams Lane,Greams Road, Chennai-600006</td>
      <td>600006</td>
    </tr>
    <tr>
      <th>396</th>
      <td>395</td>
      <td>Apollo Speciality Hospital (Chennai)</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No 320 5Th Floor, Padma Complex, Anna Salai, Near Lr Swami Building, Nandanam, Chennai, Tamil Nadu</td>
      <td>600035</td>
    </tr>
    <tr>
      <th>404</th>
      <td>403</td>
      <td>Appasamy Medicare Centre Pvt Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>23-25, Friends Avenue, Arumbakkam, Chennaiarumbakkam</td>
      <td>600106</td>
    </tr>
    <tr>
      <th>422</th>
      <td>421</td>
      <td>Aravind Sai Eye Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 1, Ganesan Street,Pammal Main Road Krishna Nagar</td>
      <td>600075</td>
    </tr>
    <tr>
      <th>440</th>
      <td>439</td>
      <td>Arokya Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#32, Pillayar Koil Street</td>
      <td>600078</td>
    </tr>
    <tr>
      <th>540</th>
      <td>539</td>
      <td>Aswene Soundra Hospital &amp; Research Centre</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 24,Kasturi Rangan Road,Teynampet</td>
      <td>600018</td>
    </tr>
    <tr>
      <th>549</th>
      <td>548</td>
      <td>Athipathi Hospital And Research Center</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>Plot No 1,100 Ft Rd,Tanni Nagar,Velachary</td>
      <td>600042</td>
    </tr>
    <tr>
      <th>572</th>
      <td>571</td>
      <td>Avm Medical Ent Research Fundation</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>3, P.S.S. Road,Mylapore</td>
      <td>600004</td>
    </tr>
    <tr>
      <th>578</th>
      <td>577</td>
      <td>Aysha Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>91A Millers Road, Kilpauk</td>
      <td>600010</td>
    </tr>
    <tr>
      <th>591</th>
      <td>590</td>
      <td>B M Hospitals</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>36, 5Th Main Road,Thillai Ganga Nagarcheenai</td>
      <td>600061</td>
    </tr>
    <tr>
      <th>593</th>
      <td>592</td>
      <td>B.B Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.52,Dayalu Nagar,Kolathur,Near Villirakham Railway Station,</td>
      <td>600099</td>
    </tr>
    <tr>
      <th>603</th>
      <td>602</td>
      <td>B.M.Orthopaedic Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.3/157, Mth Road, Ambattur,Chennai - 53</td>
      <td>600053</td>
    </tr>
    <tr>
      <th>611</th>
      <td>610</td>
      <td>B.S. Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 16, 3Rd Main Road,Chitlapakkam,</td>
      <td>600064</td>
    </tr>
    <tr>
      <th>612</th>
      <td>611</td>
      <td>B.S.S. Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>New No 200, Old # 179/1, R.K. Mutt Road, Mandaveli,</td>
      <td>600028</td>
    </tr>
    <tr>
      <th>615</th>
      <td>614</td>
      <td>Babus Maternity Hosptial</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 7, Doraisamy Reddy Street, Tabaram</td>
      <td>600045</td>
    </tr>
    <tr>
      <th>622</th>
      <td>621</td>
      <td>Bagdi Nursing Home</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>3Rd Floor, #10, Solaiappan Streett.Nagar</td>
      <td>600017</td>
    </tr>
    <tr>
      <th>629</th>
      <td>628</td>
      <td>Balagangadhara Varma Nursing Home &amp; Research Center</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No 17, First Main Road,Narayanapuram</td>
      <td>601302</td>
    </tr>
    <tr>
      <th>650</th>
      <td>649</td>
      <td>Balakrishna Eye Hospital &amp; Eye Research Centre</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>11, Sastri First Cross Street, Chennai, Tamilnadu</td>
      <td>600015</td>
    </tr>
    <tr>
      <th>669</th>
      <td>668</td>
      <td>Bappu Clinic &amp; Nursing Home</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#46, Kalaingar Main Road,Srinivasa Nagar, Perungalatur,</td>
      <td>600063</td>
    </tr>
    <tr>
      <th>735</th>
      <td>734</td>
      <td>Bhagwan Mahaveer Eye Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 142, M.S. Koil Street, Royapuram.</td>
      <td>600013</td>
    </tr>
    <tr>
      <th>761</th>
      <td>760</td>
      <td>Bharath Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 72, I St Main Road,Nanganallur</td>
      <td>600061</td>
    </tr>
    <tr>
      <th>806</th>
      <td>805</td>
      <td>Billroth Hospital Limited</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#43, Lakshmi Takis Rd,Shenay Nagarshenoy Nagar, Chennai</td>
      <td>600030</td>
    </tr>
    <tr>
      <th>807</th>
      <td>806</td>
      <td>Billroth Hospitals - Ra Puram</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#52, 2Nd Main Road, Raja Annamalai Puram,Raja Annamalai Puram</td>
      <td>600028</td>
    </tr>
    <tr>
      <th>849</th>
      <td>848</td>
      <td>Brs Hospital Pvt.Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.28. Cathedral Garden Roadcathedral Gardens Road</td>
      <td>600034</td>
    </tr>
    <tr>
      <th>862</th>
      <td>861</td>
      <td>C.S.I. Kalyani General Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>15, Dr Radhakrishnan Salai, Mylapore, Chennai-600004, Next To City Centre</td>
      <td>600004</td>
    </tr>
    <tr>
      <th>864</th>
      <td>863</td>
      <td>C.S.I. Rainy Multi-Speciality Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#45, G.A. Road Chennai</td>
      <td>600021</td>
    </tr>
    <tr>
      <th>866</th>
      <td>865</td>
      <td>C.S.M Nursing Home</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 18, Rukmani Street,West Mambalam</td>
      <td>600033</td>
    </tr>
    <tr>
      <th>885</th>
      <td>884</td>
      <td>Cauvery Trust Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.36,Ponnankinaru Street,Villivakkam,</td>
      <td>600049</td>
    </tr>
    <tr>
      <th>976</th>
      <td>975</td>
      <td>Chennai Eye Care Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#6,12Th Cross Street,Dhandeeswaran Nagar,Velachery</td>
      <td>600042</td>
    </tr>
    <tr>
      <th>977</th>
      <td>976</td>
      <td>Chennai Krishna Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No.297, Gst Road, Near Mit Flyover, Chromepet, Chennai, Tamilnadu</td>
      <td>600044</td>
    </tr>
    <tr>
      <th>978</th>
      <td>977</td>
      <td>Chennai Meenakshi Multispeciality Hospital Ltd.</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 148, Luz Church Road, Malapore, Chennai, Tamilnadu.</td>
      <td>600004</td>
    </tr>
    <tr>
      <th>981</th>
      <td>980</td>
      <td>Chettinad Super Speciality Hospital (Cssh)-(A Unit Of Rajah Muthiah Charitable And Educational Trust)</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>I.T. Highway,Kelambakkam</td>
      <td>603103</td>
    </tr>
    <tr>
      <th>1008</th>
      <td>1007</td>
      <td>Chitras Ent Laser Surgery Super Speciality Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>30C, Cathedral Garden Lane,Nungambakkam.</td>
      <td>600034</td>
    </tr>
    <tr>
      <th>1021</th>
      <td>1020</td>
      <td>Christudas Orthopaedic Speciality Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#9.Duraiswamy Ngr. I.A.F. Road, Tamilnadu Chennai 59</td>
      <td>600059</td>
    </tr>
    <tr>
      <th>1115</th>
      <td>1114</td>
      <td>Darshan Surgical Centre Llp</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>Block T-80, New No-24 5Th Main Road</td>
      <td>600040</td>
    </tr>
    <tr>
      <th>1152</th>
      <td>1151</td>
      <td>Deepam Eye Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#72,Medavakkam,Tank Road,Kilpauk</td>
      <td>600010</td>
    </tr>
    <tr>
      <th>1153</th>
      <td>1152</td>
      <td>Deepam Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#327, Muthurangam Road,Tambaram(West),Kanchipuram,West Tambaram</td>
      <td>600045</td>
    </tr>
    <tr>
      <th>1156</th>
      <td>1155</td>
      <td>Deepam Hospital Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>30, Ayyasamy Street,</td>
      <td>600044</td>
    </tr>
    <tr>
      <th>1157</th>
      <td>1156</td>
      <td>Deepam Hospital Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>107-A, Gst Road, Chennai</td>
      <td>600044</td>
    </tr>
    <tr>
      <th>1251</th>
      <td>1250</td>
      <td>Doctor Rex'S Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 37, Millers Road, Kilpauk</td>
      <td>600010</td>
    </tr>
    <tr>
      <th>1258</th>
      <td>1257</td>
      <td>Dr Agarwal'S Eye Hospital Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>19, Cathedral Road</td>
      <td>600086</td>
    </tr>
    <tr>
      <th>1263</th>
      <td>1262</td>
      <td>Dr Agarwals Eye Hospital Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#107, A Block 3Rd Avenue Anna Nagar Near</td>
      <td>600040</td>
    </tr>
    <tr>
      <th>1264</th>
      <td>1263</td>
      <td>Dr Agarwals Eye Hospital Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#33,7Th Avenue,Ashok Nagar</td>
      <td>600083</td>
    </tr>
    <tr>
      <th>1265</th>
      <td>1264</td>
      <td>Dr Agarwals Eye Hospital Ltd</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No-6, Duraisamy Street Tdk Towers Tambaram</td>
      <td>600045</td>
    </tr>
    <tr>
      <th>1268</th>
      <td>1267</td>
      <td>Dr Agarwals Eye Hospital Ltd (Gopalapuram)</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>Retina Foudation No 31 1St Street Gopalapuram</td>
      <td>600086</td>
    </tr>
    <tr>
      <th>1270</th>
      <td>1269</td>
      <td>Dr Agarwals Eye Hospital Ltd (Periyar Nagar)</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>B-63, Siva Elango Salai 70Feet Road, Periyar Nagar</td>
      <td>600082</td>
    </tr>
    <tr>
      <th>1278</th>
      <td>1277</td>
      <td>Dr Kamakshi National Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>No 12 Jaffer Serang Streetsecond Line Beach Chennai</td>
      <td>600001</td>
    </tr>
    <tr>
      <th>1301</th>
      <td>1300</td>
      <td>Dr. Arvind Vision Care</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>#61, Reddy Palayam Road, Mogappair West, Chennai, Tamilnadu</td>
      <td>600037</td>
    </tr>
    <tr>
      <th>1323</th>
      <td>1322</td>
      <td>Dr. Grace George Hospital</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 34, Udayavar Koil Street,Thirumizhisai, Poonamalee.</td>
      <td>600029</td>
    </tr>
    <tr>
      <th>1326</th>
      <td>1325</td>
      <td>Dr. Jacquline Divyananda (Divya Hospital)</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td># 20, Medavakkam Main Road, Madipakkam</td>
      <td>600091</td>
    </tr>
    <tr>
      <th>1348</th>
      <td>1347</td>
      <td>Dr. Mehta'S Multispeciality Hospital Pvt Ltd.</td>
      <td>tamilnadu</td>
      <td>chennai</td>
      <td>2 (E), Mc. Nicholas Road, Chennai, Opposite To Chetpet Police Station.</td>
      <td>600031</td>
    </tr>
  </tbody>
</table>